*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Lets style the body*/
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Lets style the header */
header {
    background-color: #0077cc;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Lets style the navigation section */
nav{
    display: flex;
    justify-content: center;
    background: #b3d4f3;
    padding: 10px;
    text-align: center;
    /*add spacing between elements*/
    
}
nav a {
    color: rgb(203, 85, 85);
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background: #003d7a60;
    border-radius: 8px;
}

/* lets style the main section */
main {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
}

/* lets style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th{
    background: #0077cc;
    color: white;
}

/* lets style the form */
form {
    align-items: center;
    justify-content: center;
   
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
   /* display the form as a box with all inputs vertically aligned */
    display: flex;
    flex-direction: column;
    width: 50%;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}
button{
    background: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: #0055a5;
}

/* lets style the footer */
footer {
    background-color: #394f50;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* media queries for responsiveness */
@media screen and (max-width: 1024px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin-bottom: 10px;
    }
    form {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    main,form {
        width: 100%;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 480px) {
    nav a {
        display: block;
        padding: 10px;
    }
    form {
        width: 100%;
    }

    input, textarea {
        font-size: 14px;
    }
    
}